{{ define "table" }}
<thead>
    <tr>
    {{- range .TableHeaders }}
        <th>{{ . }}</th>
    {{- end -}}
    </tr>
</thead>

<tfoot>
    <tr>
    {{- range .TableHeaders }}
        <th>{{ . }}</th>
    {{- end -}}
    </tr>
</tfoot>
{{ end }}