### mysql config details ###
src/api/lib/mysql_config.php

### powershell config
collectors/powershell/vsummary_config.ps1

### scripts and testing
scripts/testing/*
scripts/vcenter-migrator/output/*
