### editors
.idea

### powershell config
#contrib/collectors/powershell/vsummary_config.ps1

### scripts and testing
contrib/scripts/testing/*
contrib/scripts/vcenter-migrator/output/*

### Python bytecode
*.pyc

### binaries
vsummary

### some testing stuff
testdata/scripts/vmware.sh
testdata/*.go

### build artifacts
bin/

TODO.txt
